:root {

  --soft-light-color: #FEFEFE;
  --primary-color: #a01959;
  --primary-color-hover: #2b5292;
  --primary-color-clicked: #7c1345;

  --darkgray-color: #2c2d2c;
  --darkgray-color-hover: #1a1a1a;
  --darkgray-color-clicked: #484a48;

  --secondary-color: lightblue;

  --lightgray-color: #e2e2e2;
  --lightgray-hover: #e7e7e7;
  --lightgray-clicked: #cbcbcb;

  --white-color: #fff;
  --black-color: #000;
  -- bg-color: #f9f9f9;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
;
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}


html {
  scroll-behavior: smooth;
}

* { padding : 0; margin: 0 }

body {padding-top: 5vh;  font-size: 14px; background-color: var(--bg-color, #f9f9f9);  }

h1,h2,h3,h4,h5 {  margin-block: 1em; font-family: "Roboto", "Monospace"; }

main {margin: 10% 2.5% 5%; padding: 5%;}

section { margin-block: 5%; padding: 5% 2.5%; background-color: var(--lightgray-color, #F3F3F3) }

header {margin: 2.5% }

div { padding:0.25em; margin: 1em 0.25em; }

form { background-color: var(--lightgray-color, lightgray); }
p {margin-block: 0.5em; }

label { display: block; }

footer {padding: 0; background-color: var(--dark-color, black); color: var(--white-color, white); font-size: 0.75em; padding: 5%; }

a { color: var(--primary-color, auto); }

a:hover { color: var(--primary-color-hover, auto);}

img { }

.container-fluid {
  width: calc(100% - 2*5%);
  padding: 3% 5%;
}

.container {
  padding: 1.5rem 2.5%;
  margin-inline: 0.5rem;
  width: calc(100% - 5% - 1rem);
}

.primary-text { color: var(--primary-color, black); }

.rounded-corner { border-radius: 15px; }

.padded { padding: 5% 3%; }

.layout {background-color: var(--lightgray-color, lightgray); color: var(--black-color, black)}
.text-center {text-align: center;  }

.form-item { display : block; margin-block: 2.5%; }

#navbar {
position: fixed;
display : flex;
flex-direction: row;
justify-content : space-around;
align-items: center;
top: 0px;
left:0px;
width: 100%;
height: 10%;
max-height: 10em;
min-height: 4.5em;
background-color: var(--primary-color, dark);
border-bottom: 2px solid var(--secondary-color, darkgray); 
color: var(--white-color, white);
} 

.logo-wrapper { background-color: inherit; width: 10%; max-width: 5em}
.nav-wrapper { display: flex; justify-content: center; align-items: center; background-color: inherit; color: white;}

nav ol { 
display : flex;
flex-direction: row;
justify-content : space-around;
align-items: center;
padding: 0.5em 0px; } 

nav li { display: inline; margin-right: 1.25em; } 

nav a { text-decoration: none; color: var(--white-color, #FFFFFF); }

/* Home page */
div.main-container { box-shadow: 1px 1px 1px 1px #00000055; }

div.big-heading-container { border-left: 5px solid var(--secondary-color, darkgray); padding-left : 1em; }

.main-container h1 { margin-bottom : 0.5em;  }
.main-container p {font-weight: bold; }

.main-image {border-radius: 15px; margin: 1.5em;  width : calc(100% - 3em); max-width : 250px; transition: transform 0.3s ease-in-out; }


/* footer styles */
div.contact-infos > * { margin: 0.25em auto; }

footer ul,ol { margin: 1em auto auto 1em; };


div.copyright-infos { font-size: 0.65em }
/* Project Item Page */

.project-contributors { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; }

div.contributor-item {}

img.contributor-image {width: 30%;  }


/* About pages */

div.description { border-left : 5px solid var(--secondary-color, darkgray); padding-left: 5%; }

.ul-description {padding-left: 5%; }

.subsection {
  background-color: var(--white-color, white);
  margin: 1.5rem 0;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(10, 10, 10, 0.05);
}

.subsection>h3 {
  margin-bottom: 5%
}

.subsection hr { margin-bottom: 1rem;}

.subsection ul { padding-left : 1rem; }

/*  Extended windows */

@media (min-width: 1024px) {
body { font-size: 12px };

}
