<div class="footer-link-container padded">
<div class="footer-link-wrapper">
  <div class="header">
    <h4 class="footer-link-heading">Connexions réseaux</h4>
  </div>
  <ul>
   <% locals.links?.forEach(link => { %>
     <li><a class="contact-link" href="<%= link.href %>" ><%= link?.icon %><span><%= link.name %></span></a></li>
   <% }); %>
  </ul>
</div>
</div>
<hr />
<div class="copyright-infos">
  <p>© 2025 <%= locals.name %></p>
</div>
