<nav class="menu" id="navbar">
  <ol>
    <li class="nav-link"><a href="/">Home</a></li>
    <li class="nav-link"><a href="/projects">Projects</a></li>
    <li class="nav-link"><a href="/about" >About</a></li>
  </ol>
</nav>
