<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="description" content="A portfolio  website" />
<meta name="keywords" content="resume, portfolio, project, javascript, website" />
<meta name="author" content="Luzvander EMILCAR" />
<title><%= locals.title %></title>
