<nav id="navbar">
<div class="nav-icon-wrapper">
  <div class="menu-toggler-wrapper">
    <i class="fa-solid fa-bars fa-xl"></i>
  </div>
  <div class="logo-wrapper">
    <a href="/" ><img class="logo" src="/mini-logo.png" /><span hidden>Aller à la page d'accueil</span></a>
  </div>
</div>
  <div class="nav-link-wrapper">
      <menu>
        <li class="nav-link"><a href="/">Accueil</a></li>
        <li class="nav-link"><a href="/projects">Projets</a></li>
        <li class="nav-link"><a href="/about" >About</a></li>
       </menu>
  </div>
</nav>
