<nav id="navbar">
  <div class="nav-icon-wrapper">
    <!--button  id="sidebar-toggler"><i class="fa-solid fa-bars fa-xl"></i></button-->
    <img class="signature" src="/assets/images/signature.png" aria-hidden/>
  </div>
  <div class="nav-link-wrapper">
      <menu>
        <li class="nav-link"><a href="/">Accueil</a></li>
        <li class="nav-link"><a href="/projects">Projets</a></li>
        <li class="nav-link"><a href="/about" >About</a></li>
       </menu>
  </div>
</nav>
