<nav class="menu" id="navbar">
  <div class="logo-wrapper">
      <img src="/assets/icons/Search.svg" />
  </div>
  <div class="nav-wrapper">
      <ol>
        <li class="nav-link"><a href="/">Home</a></li>
        <li class="nav-link"><a href="/projects">Projects</a></li>
        <li class="nav-link"><a href="/about" >About</a></li>
       </ol>
  </div>
</nav>
